<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Single Page App: Logbook</title>


  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Single Page App: Logbook</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#posts">Post list</a>
          </li>
          <li>
            <a href="#posts/new">New post</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="content" class="">
  <!-- Content div that is filled by the router -->
  </div>

  <!-- Templates -->
  <script id="post-list-tpl" type="text/x-handlebars-template">
    {{#each posts}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><a href="#" data-id="{{id}}" class="post-link">{{title}}</a></h3>
        </div>
        <div class="panel-body">
          {{content}}
        </div>
        <div class="panel-footer text-right">
          <button class="btn btn-primary post-link" data-id="{{id}}">Read post</button>
          <button class="btn btn-info edit-link" data-id="{{id}}">Edit</button>
          <button class="btn btn-danger delete-link" data-id="{{id}}">Delete</button>        
        </div>
      </div>    
    {{/each}}
  </script>

  <script id="post-single-tpl" type="text/x-handlebars-template">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><a href="#" data-id="{{id}}" class="post-link">{{title}}</a></h3>
      </div>
      <div class="panel-body">
        {{content}}
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-primary post-link" data-id="{{id}}">Read post</button>
        <button class="btn btn-info edit-link" data-id="{{id}}">Edit</button>
        <button class="btn btn-danger delete-link" data-id="{{id}}">Delete</button>        
      </div>
    </div>   
  </script>

    <script id="post-form-tpl" type="text/x-handlebars-template">
      <div class="well">
        <form>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" value="{{title}}">
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" rows="5" name="content">{{content}}</textarea>
          </div>     
          <input type="hidden" name="id" value="{{id}}">
          <input type="submit" class="btn btn-primary">     
        </form>
    </div>
  </script>
  <script id="not-found" type="text/x-handlebars-template">
    You should not be here. Go away.
  </script>

  <!-- Init Application Router -->
  <script src="js/handlebars-v1.3.0.js"></script>
  <script type="text/javascript" src="js/jquery-1.11.0.js"></script>
  <script type="text/javascript" src="js/underscore.js"></script>
  <script type="text/javascript" src="js/backbone.js"></script>
  <script type="text/javascript" src="js/Backbone.View.js"></script>
  <script type="text/javascript" src="js/ContentViews.js"></script>
  <script type="text/javascript" src="js/ApplicationRouter.js"></script>
  
  <script type="text/javascript">
    APP.posts = new APP.Collections.Posts();
    APP.posts.comparator = function(post) {
      return -post.get("created_at");
    }
    var router = new APP.Router($('#content'));
    APP.posts.fetch().then(function() {
      Backbone.history.start();
    });
   
    

  </script>

</body>
</html>
